@use '../../../../styles/components/general';

.btnCircle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border-width: 0.1rem;
  border-style: solid;
  cursor: pointer;
  
  & svg {
    width: 2.4rem;
    height: 2.4rem;
  }

  &.light {
    border-color: general.$border-light;
    transition: background 0.2s ease-in;

    & svg path {
      stroke: general.$text-light;
      transition: stroke 0.2s ease-in;
    }
  }

  &.dark {
    border-color: general.$dark;
    transition: background 0.2s ease-in;

    & svg path {
      stroke: general.$black;
      transition: stroke 0.2s ease-in;
    }
  }

  & span {
    display: block;
    width: 1.6rem;
    height: 0.15rem;
    background-color: general.$black;
    transition: transform 0.2s ease-out;

    &:not(:last-child) {
      margin-bottom: 0.7rem;
    }
  }

  &:hover {
    &.dark {
      background-color: general.$dark;

      & svg path {
        stroke: general.$text-light;
      }

      & span {
        background-color: general.$bg;
      }
    }

    &.light {
      background-color: general.$border-light;
  
      & svg path {
        stroke: general.$black;
      }
    }
  }

  &.active {
    & span {
      transform-origin: center;
      transform: translateY(0.45rem) rotate(45deg);
    }
    & span:last-child {
      transform-origin: center;
      transform: translateY(-0.45rem) rotate(-45deg);
    }
  }

}